################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/TfsCruiser/bin
/TfsCruiser/obj/Debug
/TfsCruiser/Scripts
/Fenton.TeamServices.RestApi/bin
/Fenton.TeamServices.RestApi/obj
/TfsCruiser/obj/Release
/TfsCruiser/Web.Release.config
/TfsCruiser/Web.Debug.config
