@model Fenton.TeamServices.BuildRestApi.Churn

<ul>
    <li><a href="@Url.Action("FolderChurn", new { })">@Model.Folders.Count Folders</a></li>
    <li><a href="@Url.Action("FileChurn", new { })">@Model.Files.Count Files</a></li>
</ul>